@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

a:link,
a:visited,
button {
  background-color: rgba(0, 0, 255, 0.3);
  color: white;
  padding: 20px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for color change */
}

a:hover,
button:hover {
  background-color: rgba(0, 0, 255, 0.6); /* New color on hover */
  color: yellow; /* New color on hover */
}

button[disabled] {
  background-color: #ccc; /* Disabled button color */
  color: #666; /* Text color for disabled button */
  cursor: not-allowed; /* Change cursor for disabled button */
}

button:not([disabled]) {
  background-color: rgba(0, 0, 255, 0.3);
  color: white;
  padding: 10px 20px; /* Adjusted padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for color change */
}

button:not([disabled]):hover {
  background-color: rgba(0, 0, 255, 0.6); /* New color on hover */
  color: yellow; /* New color on hover */
}

/* styles for Nav.module.css or your CSS file */
.navbar {
  background-color: rgba(255, 255, 255, 0.8);
}

/* .navToTheSide {
  liststyletype: "none";
  padding: 0;
  display: "flex";
  justifyContent: 'center';
}

.navMargin {
  marginright: "10px";
} */

/* Styles for center elements */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
