
.centeredTable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .table {
    border-collapse: collapse;
    width: 80%; /* Adjust the width as needed */
    margin: auto; /* Center the table within its container */
  }
  
  .table th,
  .table td {
    border: 1px solid white; /* Black border around each cell */
    padding: 8px;
    text-align: center;
  }
  